*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

/* общие стили по классам*/

.address {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

/* стили для секций*/

.header {
  padding: 91px 50px 97px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.cover {
  padding: 165px 20px 50px 50px;
  margin-bottom: 180px;
  min-height: 757px;
  background: url("../images/cover.jpg"), center, no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
}

.lots {
  min-height: 723px;
  display: flex;
  gap: 25px;
  margin: 0 24px 120px;
}

.about {
  min-height: 595px;
  margin: 0 24px 120px;
  padding-top: 35px;
  padding-left: 47px;
  display: flex;
  gap: 72px;
}

.footer {
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px;
}